.service {
  background-color: rgb(9, 70, 70);
  color: aliceblue;
  border-radius: 20px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.service img {
  width: 100%;
  border-radius: 20px;
}

.service:hover {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);

  /* Hidden by default. */
  /* opacity: 0; */
  /* transition: opacity 1000ms; */

  background: red;

  transform: rotate(360deg);
}
